@use './../../styles/settings/spacing';
@use './../../styles/settings/colors';
@use './../../styles/settings/breakpoints';
@import '~sass-mq';

.container {
    height: 24px;
    margin-bottom: spacing.$spacing-medium;
}

.button {
    padding: spacing.$spacing-extra-small;
}

.badge {
    $-dimension: 18px;

    background: colors.$fourth;
    width: $-dimension;
    height: $-dimension;
    text-align: center;
    line-height: $-dimension;
    font-size: 0.6rem;
    border-radius: $-dimension / 2;
    color: white;
    text-decoration: none;
    display: none;

    @include mq($from: tablet) {
        display: block;
    }
}
