@use '../../styles/settings/spacing';

.list {
    margin: 0 0 spacing.$spacing-medium;
    padding-left: 15px;

    li {
        padding-left: 5px;
        margin: 0 0 spacing.$spacing-small;
    }
}

.goalHeader {
    margin-bottom: spacing.$spacing-small;
}

.goalDescription {
    margin-bottom: spacing.$spacing-large;
}
