@use '../../styles/settings/breakpoints';
@use '../../styles/settings/colors';
@use '../../styles/settings/z-index';
@use '../../styles/settings/spacing';
@use '../../styles/settings/sizes';
@import '~sass-mq';

.dayListContainer {
    position: relative;
}

.dayList {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 20px; // keep inline with 'useDetermineNumberOfDaysThatCanBeDisplayed'!
    justify-content: center;
    overflow: hidden;
    flex-grow: 0;
}

.day {
    flex: 0 0 100%;
    width: 100%;
    background: colors.$first;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 63vh;

    @include mq($from: tablet) {
        flex: 0 0 sizes.$day-max-width;
        width: sizes.$day-max-width; // keep inline with 'useDetermineNumberOfDaysThatCanBeDisplayed'!
        min-height: 70vh;
    }
}

.dayIsToday {
    background: colors.$fifth;
}

.dayContent {
    padding: spacing.$spacing-small;
    flex: 1;
}

.dayActions {
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
    padding: 20px 10px;
}

.directionIndicator {
    position: absolute;
    top: 0;
    left: calc(50% - 30px);
    z-index: z-index.$z-index-todo-overview-direction-indicator;
    display: none;

    @include mq($from: tablet) {
        display: block;
    }
}

.todoList,
.todoList > li > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.priorityLevelDescription {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: spacing.$spacing-extra-small;
    margin: spacing.$spacing-extra-large spacing.$spacing-small spacing.$spacing-small;
}
