@use './../../styles/settings/layout' as *;
@use './../../styles/settings/breakpoints';
@import '~sass-mq';

.container {
    display: grid;
    gap: 1rem;
    grid-template-rows: auto;
}

.header {
    display: block;
    position: sticky;
    top: 0;
    height: auto;
    margin-bottom: 50px;
}

.content {
    width: 100%;
    margin: 0 auto;
    padding: 0 $layout-default-side-gap $layout-default-side-gap;

    @include mq($from: desktop) {
        width: $layout-container-max-width;
    }
}
