@use '../../styles/settings/colors';
@use '../../styles/settings/spacing';
@use './../../styles/settings/sizes';

.heading {
    position: sticky;
    top: sizes.$header-height;
    left: 0;
    right: 0;
    background-color: rgba(colors.$third, 0.6);
    padding: spacing.$spacing-extra-small 0;
    color: white;
}
