@use '../../styles/settings/colors';
@use '../../styles/settings/spacing';

.header {
    position: sticky;
    top: 44px;
    left: 0;
    right: 0;
    background-color: rgba(colors.$second, 0.6);
    padding: spacing.$spacing-small 0;
}
