@use '../../styles/settings/spacing';
@use '../../styles/settings/colors';
@use './../../styles/settings/breakpoints';
@import '~sass-mq';

.container {
    background: colors.$first;
    margin-bottom: spacing.$spacing-large;
    border-radius: 7px;
    padding: spacing.$spacing-small;

    @include mq($from: tablet) {
        padding: spacing.$spacing-medium;
    }
}

.isGhost {
    background: none;
}

.isDeflatedTop {
    padding-top: 0;
}

.isFullWidth {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.isDeflated {
    padding: 0;
}
