@use '../../styles/settings/spacing';
@use '../../styles/settings/colors';
@use './../../styles/settings/breakpoints';
@import '~sass-mq';

.container {
    margin-bottom: spacing.$spacing-large;
}

.isStylePrimary {
    background: colors.$first;
    padding: spacing.$spacing-small;
    border-radius: 7px;

    @include mq($from: tablet) {
        padding: spacing.$spacing-medium;
    }
}

.isStyleSecondary {
    background: colors.$third;
    padding: spacing.$spacing-small;

    @include mq($from: tablet) {
        padding: spacing.$spacing-large;
    }
}

.isDeflatedTop {
    padding-top: 0;
}

.isFullWidth {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.isDeflated {
    padding: 0;
}
