@use '../../styles/settings/spacing';
@use '../../styles/settings/sizes';
@use '../../styles/settings/colors';

$left-column-width: 23px;
$column-gap-width: spacing.$spacing-small;

.container {
    margin-bottom: spacing.$spacing-small;
    padding: spacing.$spacing-small;
}

.containerIsCurrent {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

.containerIsDone {
    opacity: 0.3;
}

.deadlineDescription {
    margin-left: $left-column-width + $column-gap-width;
    padding: 0 spacing.$spacing-small;
    font-size: 0.8rem;
    display: inline-flex;
    align-items: center;
    gap: spacing.$spacing-extra-small;

    // force small size of octicon to match content
    svg  {
        $-dimension: 10px;

        height: $-dimension !important;
        width: $-dimension !important;
    }

    .containerIsExtremelyUrgent & {
        background: colors.$error;
    }

    .containerIsUrgent & {
        background: colors.$warning;
    }

    .containerIsMildlyUrgent & {
        background: rgba(255, 255, 255, 0.5);
    }
}

.header {
    display: flex;
    justify-content: flex-start;
    gap: $column-gap-width;
    align-items: flex-start;
    margin: 0 0 spacing.$spacing-extra-small;
}

.content {
    flex: 1;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: sizes.$day-max-width - 65px;
    font-size: 0.8rem;
    font-style: italic;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    li {
        display: inline;
    }

    li:not(:last-child) {
        margin-right: 5px;

        &:after {
            content: ' »';
        }
    }
}

.checkboxContainer {
    display: block;
    margin-top: 4px;
    width: $left-column-width;
    flex-shrink: 0;
}

.checkboxContainerHasBreadcrumb {
    margin-top: 30px;
}

.actionButtonList {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding: 0;
    margin: 0 0 0 ($left-column-width + $column-gap-width);
    gap: 10px;

    li {
        display: inline;
    }
}

.actionButton {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.3);

    &:hover {
        text-decoration: underline;
        color: rgba(0, 0, 0, 0.6);
    }
}

.currentContentContainer {
    overflow: hidden;
}

.summary {
    display: block;
    font-weight: 444;

    * {
        margin: 0;
    }

    a {
        text-decoration: underline;
    }
}

.summaryIsDone {
    text-decoration: line-through;
}


.description {
    margin: 10px 0 10px ($left-column-width + $column-gap-width);

    * {
        color: rgba(0, 0, 0, 0.7);
        font-size: 0.8rem;
    }
}
