@use '../../styles/settings/spacing';
@use '../../styles/settings/sizes';

$left-column-width: 23px;
$column-gap-width: spacing.$spacing-small;

.container {
    margin-bottom: spacing.$spacing-small;
    padding: spacing.$spacing-small;
}

.containerIsCurrent {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: flex-start;
    gap: $column-gap-width;
    align-items: flex-start;
}

.content {
    flex: 1;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: sizes.$day-max-width - 65px;
    font-size: 0.8rem;
    font-style: italic;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    li {
        display: inline;
    }

    li:not(:last-child) {
        margin-right: 5px;

        &:after {
            content: ' »';
        }
    }
}

.checkboxContainer {
    display: block;
    margin-top: 3px;
    width: $left-column-width;
}

.checkboxContainerHasBreadcrumb {
    margin-top: 15px;
}

.actionButtonList {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding: 0;
    margin: 0 0 0 ($left-column-width + $column-gap-width);
    gap: 10px;

    li {
        display: inline;
    }
}

.actionButton {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.3);

    &:hover {
        text-decoration: underline;
        color: rgba(0, 0, 0, 0.6);
    }
}

.currentContentContainer {
    overflow: hidden;
}

.description {
    margin: 10px 0 10px ($left-column-width + $column-gap-width);
    color: rgba(0, 0, 0, 0.5);
}
