// @see https://coolors.co/f4f1de-e07a5f-3d405b-81b29a-f2cc8f

$first: #f4f1de; // eggshell
$second: #e07a5f; // terra cotta
$third: #3d405b; // independence (dark blue)
$fourth: #81b29a; // green sheen
$fifth: #f2cc8f; // deep champagne (yelllow meets orange)

$error: $second;
$warning: darken($fifth, 10);
$success: #7fca7f;
