@use './../../styles/settings/layout' as *;
@use './../../styles/settings/colors';

$item-padding: $layout-default-side-gap / 2;

.container {
    background: colors.$third;
}

.list {
    display: flex;
    padding: 0;
    padding: 0 $item-padding;
    max-width: $layout-container-max-width;
    margin: 0 auto;
    justify-content: flex-start;
}

.listItem {
    list-style: none;
}

.item {
    display: block;
    padding: $item-padding;
    transition: 0.2s;
    color: #fff;

    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}

.currentItem {
    $-border-thickness: 5px;

    color: colors.$fifth;
    padding-bottom: $item-padding - $-border-thickness;
    border-bottom: $-border-thickness solid #fff;
}
