@use '../../styles/settings/spacing';

.container {
    margin-bottom: spacing.$spacing-large;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
