@use '../../styles/settings/spacing';

.header {
    margin-bottom: spacing.$spacing-small;
    text-align: left;
}

.description {
    margin-bottom: spacing.$spacing-small;
}

.actions {
    display: flex;
    margin-bottom: spacing.$spacing-large;
    gap: spacing.$spacing-medium;
}

.descriptionOpenedIndicator {
    display: inline-block;
    margin: 0 0 0 3px !important;
    transition: all 0.2s linear;
}

.descriptionOpenedIndicatorIsOpened {
    transform: rotate(180deg);
}
