@use './../../styles/settings/spacing';

.container {
    position: relative;
    margin-bottom: 10px;
}

.header {
    margin-bottom: 50px;
    overflow: hidden;
}

.actionButtons {
    display: flex;
    gap: spacing.$spacing-small;
}
