@use './../../styles/settings/spacing';

.container {
    position: relative;
    margin-bottom: 10px;
}

.actionButtons {
    display: flex;
    gap: spacing.$spacing-small;
    margin-bottom: spacing.$spacing-large;
}
