@use '../../styles/settings/spacing';
@use '../../styles/settings/colors';

@mixin default-widget-props {
    display: block;
    width: 100%;
    margin-bottom: spacing.$spacing-small;
}

.textWidget {
    @include default-widget-props;

    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.3);

    &:focus {
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 10px #ddd;
    }
}

.select {
    @include default-widget-props;

    padding: 5px;
}

.actionButtons {
    margin-top: spacing.$spacing-medium;
    display: flex;
    flex-direction: row;
    gap: spacing.$spacing-small;
}

.error {
    color: colors.$error;
    margin-bottom: spacing.$spacing-medium;
}
