@use '../../styles/settings/spacing';
@use '../../styles/settings/colors';

$default-widget-padding: 10px;

@mixin default-widget-props {
    display: block;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    color: #333;
    transition: 0.4s border-color;

    &:focus {
        outline: none;
        border-color: rgba(0, 0, 0, 0.3);
    }

    &::placeholder {
        color:rgba(0, 0, 0, 0.3);
        opacity: 1; // fix for Firefox
    }
}

.group {
    margin-bottom: spacing.$spacing-medium;
}

.widget {
    @include default-widget-props;

    padding: $default-widget-padding;
    background: rgba(255, 255, 255, 0.5);
}

.select {
    @include default-widget-props;

    padding: 5px;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;

    .groupIsHorizontal & {
        flex-direction: row;
        align-items: center;
    }
}

.actionButtons {
    margin-top: spacing.$spacing-medium;
    display: flex;
    flex-direction: row;
    gap: spacing.$spacing-small;
}

.actionButtonsIsCentered {
    justify-content: center;
}

.actionButtonsIsFixed {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 0 spacing.$spacing-small;
}

.datePickerWrapper {
    display: block;
    width: 100%;
}

.error {
    color: colors.$error;
    margin-bottom: spacing.$spacing-medium;
}

.section {
    border: none;
    padding: 0;
    margin: 0;
}

.sectionIsHorizontal {
    display: flex;
    gap: spacing.$spacing-medium;

    > * {
        flex: 1 1;
    }
}

.help {
    color: rgba(#000, 0.4);
    font-size: 0.8rem;
}
