@use '../../styles/settings/spacing';

.textWidget {
    display: block;
    width: 100%;
    margin-bottom: spacing.$spacing-small;
    padding: 5px;
}

.actionButtons {
    display: flex;
    flex-direction: row;
    gap: spacing.$spacing-small;
}

.error {
    color: red;
}
