@use '../../styles/settings/spacing';
@use '../../styles/settings/colors';

.container {
    margin: 0 0 spacing.$spacing-large;
    color: colors.$third;
    line-height: 1.2em;
}

.isFlattened {
    margin: 0;
}

.isStyleSecondary {
    color: colors.$second;
    border-bottom: 1px solid colors.$second;
    padding-bottom: 10px;
}

.isCentered {
    text-align: center;
}
