@use '../../styles/settings/spacing';
@use '../../styles/settings/colors';

.container {
    margin: 0 0 spacing.$spacing-large;
    color: colors.$third;
    line-height: 1.2em;
}

.isFlattened {
    margin: 0;
}

.isDeflated {
    padding: 0;
}

.isStyleSecondary {
    color: colors.$second;
    padding: 10px 0;
    box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.2);
}

.isCentered {
    text-align: center;
}
