@use '../../styles/settings/spacing';
@use '../../styles/settings/colors';

.container {
    margin: 0 0 spacing.$spacing-large;
    color: colors.$third;
    line-height: 1.2em;
}

.isFlattened {
    margin: 0;
}

.isDeflated {
    padding: 0;
}

.isStyleSecondary {
    color: colors.$second;
    border-bottom: 1px solid colors.$second;
    padding-bottom: 10px;
    box-shadow: 0 20px 40px -17px rgba(0, 0, 0, 0.7);
}

.isCentered {
    text-align: center;
}
