@use './settings/colors';
@use './settings/spacing';

@import '~normalize.css';

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 24px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    color: colors.$third;
}

p {
    margin: 0 0 spacing.$spacing-medium;
}
